.App-header{
  background-color: #292829;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}
.movie{
  color: black;
  font-size: 18px;
  margin: 0 10px;
}
.MovieList{
  display: flex;
}
.input{
  min-width: 80px;
}
input{
  min-width: 300px;
}
.inputmovie{
  margin-bottom: 2px;

}
.filter{
  margin-bottom: 2px;
}